<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title><%= loginMessage %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="css/signin.css" rel="stylesheet">
    
  </head>
  <body class="row justify-content-center text-center">

    <main class="row form-fs">

      <form method="post">
        <img class="mb-4" src="img/netflix_logo_sm.png" alt="" width="222" height="61">
        <h1 class="h3 mb-3 fw-normal">Login to evaluate the course</h1>
        <label for="email" class="visually-hidden">email</label>
        <input type="text" id="email" name="email" class="form-control col-sm" placeholder="john@gmail.com" required autofocus>
        <label for="inputPassword" class="visually-hidden">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <br/>
        <br/>
        
        <button class="w-100 btn btn-lg btn-danger" type="submit">Submit</button>
        <br/><br/>
        <a href="/register" class="w-100 btn btn-lg btn-primary">Register</a>
        <p class="mt-5 mb-3 text-muted">&copy; Assignment 1 - Gerald Uchie-Okoro (301064861)</p>
      </form>
    </main>
    
  </body>
</html>
