<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title><%= stdComments %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <main class="form-signin">
      <h1>Thank you <%= username %></h1>
      <blockquote class="blockquote">
        <p>We appreciate your comments: <%= comments %></p>
        <a href="/logout" class="btn btn-danger stretched-link">Logout</a>
      </blockquote>
    </main>
    
  </body>
</html>
